/* Inter Font by Rasmus Andersson */
body {
  font-family: 'Inter', sans-serif !important;
  /*padding-top: 3.5rem; (for fixed-top) */
}

html {
  font-size: 16px;
  /*font-size: calc(0.5em + 1vw);*/
}

/* inter-regular - latin - https://gwfh.mranftl.com/fonts/inter?subsets=latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/zforum/static/fonts/inter-v13-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/zforum/static/fonts/inter-v13-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.zforum-header {
  background-image: url('../images/sample-header.jpg');
  /*
  max-height:150px;
  height:100vh;
  */
  background-size:cover;
  background-repeat:no-repeat;
}

.zforum-h-150 {
  height: 150px !important;
}

#thumbnail-container img {
  width:100px;
  height:100px;
  margin:5px;
}

canvas {
  border:1px solid red;
}