[[extend 'zlayout.html']]

[[block channel_header]]
<div class="row [[if not channel_info['banner']:]]zforum-header[[pass]] flex-shrink-0"
[[if channel_info['banner']:]]style="background-size:cover;background-repeat:no-repeat;background-image:url('[[=channel_info['banner']]]');"[[pass]]>
  <div class="col zforum-h-150 text-light">
    <h3><div class="m-2 p-2">/c/[[=channel_info['tag']]]</div></h3>
    <p>[[=XML(channel_info['title_marked'], sanitize=True)]]</p>
  </div>
</div>
[[end]]

[[block page_sidebar]]
  [[if globals().get('user', {}).get('id', False):]]
    <a class="btn btn-primary" href="[[=URL('new_topic')]]" role="button">New Topic</a>
  [[pass]]
  [[if globals().get('channel_info', {}).get('can_admin_channel', False):]]
    <a class="btn btn-primary" href="[[=URL('channel/admin/' + globals().get('channel_info', {}).get('id'))]]" role="button">Manage Channel</a>
  [[pass]]
[[end]]

[[block subnav_lead]]
<h3 class="fs-2">[[=channel_info['tag']]]</h3>
<p>[[=XML(channel_info['content_marked'], sanitize=True)]]</p>
[[end]]

[[if topics:]]
Yes Topics
[[else:]]
<p><i>The excit'ment shall beginneth after thee start to writeth!</i></p>
[[pass]]