[[extend 'zlayout.html']]

<div class="container px-0" id="results">

  <form>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="search-box">Search in this page:</label>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" id="search-box" placeholder="Search within..">
      </div>
      <div class="col-auto">
        <a href="javascript:void(0)" id="clear-search-box"><i class="bi bi-x-circle"></i></a>
      </div>
    </div>
  </form>

  <div id="results">
  [[for c in channels:]]
  <div class="card my-4 result">
    <h5 class="card-header"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
      href="[[=URL(f'c/{c.tag}')]]">/c/[[=c.tag]]</a></h5>
    <div class="card-body">
      <h5 class="card-title">[[=c.title]]</h5>
      <p class="card-text">[[=c.content]]</p>
    </div>
  </div>
  [[pass]]
  </div>
</div>

[[block page_scripts]]
<script src="[[=URL('static', 'js/channel_search_helper.js')]]"></script>
[[end]]