[[extend 'zlayout.html']]

<p>Vergonio: [[if 'vergonio' in globals():]][[=vergonio]][[else:]]No Vergonio[[pass]]</p>
<p>Is Admin: [[=is_systemadmin]]</p>
<p>[[=user]]</p>
<p>[[=globals()]]</p>


<!-- Add a block subnav_lead to override information -->

<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="toast-wrapper" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="6000">
    <div class="toast-header">
      <strong class="me-auto">zForum Message</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toast-content">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Display the below in the "extended" template (zforum_layout) //-->
<script>
  const checkQS = () => {
    const toastWrapper = document.getElementById('toast-wrapper');
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastWrapper);
    const srch = location.search;
    let msg = '';
    if (srch.indexOf('action=rrp') >= 0) {
      msg = 'Your request to reset your password has been processed, ' + 
      'you will shortly receive an email containing a link to reset your ' +
      'password.';
    } else if (srch.indexOf('action=reg') >= 0) {
      msg = 'Your request for registration has been processed, ' +
      'you will shortly receive an email containing a link to verify your ' +
      'account.';
    }
    if (msg.length > 0) {
      document.getElementById('toast-content').innerText = msg;
      toastBootstrap.show();
    }
  };
  checkQS();
</script>
[[end]]