[[extend 'zlayout.html']]

[[if errors:]]
<div class="container pt-3">
  <div class="alert alert-warning" role="alert">
    <p>The following error(s) have been detected:</p>
    <ul>
      [[for error in errors:]]
        <li>[[=error]]</li>
      [[pass]]
    </ul>
  </div>
</div>
[[pass]]

[[if payload:]]
<code>
  [[=payload]]
</code>
[[pass]]

<div class="container">

  <div class="row">
    <div class="col-sm-4 p-3 bg-light-subtle">
      <h4>New Channel Intructions</h4>
      <p class="mt-3">When you create a new channel, you will become the <b>administrator</b> of it.
        You will have the ability to manage it with the following options:</p>
      <ul>
        <li>Private (channel) mode. A pubic channel can be viewed and searched
          by anyone visiting the application, authenticated users can subscribe to the
          channel and add content. A private channel on the other hand can only be viewed and
          searched by the channel administrator(s) and allowed users.</li>
        <li>Limited user administration. If the channel is in private mode, channel administrators
          can allow (and disallow) other users in the system from accessing the
          channel. Channel administrators have full control over the topics and comments
          of their channel(s).</li>
        <li>Shared (channel) administration. A channel administrator can allow/remove other
          users as channel administrator, "children" channel administrators cannot remove
          the owner (parent administrator) of the channel</li>
      </ul>
    </div>

    <div class="col-sm-8 p-3 border-secondary border-start bg-light-subtle">

      <form method="post" enctype="multipart/form-data" action="[[=URL('new_channel')]]">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="tag" class="form-label">Channel Tag:</label>
              <input type="text" class="form-control" value="[[=request.forms.get('tag', '')]]"
                      id="tag" name="tag" aria-describedby="tag-help">
              <div id="tag-help" class="form-text">A "tag" is the name of your channel,
                like a <i>category</i>, and it will be unique. Please note that some tags
                are not allowed, such as racial slurs, sexually in nature, and others.
                This value is required.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="title" class="form-label">Channel Title:</label>
              <input type="text" class="form-control" id="title" aria-describedby="title-help"
                value="[[=request.forms.get('title', '')]]" name="title">
              <div id="title-help" class="form-text">Short title of your channel, usually
                consisting of a few sentences. This value is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="content" class="form-label">Channel Description:</label>
              <textarea class="form-control" id="content" rows="3" name="content"
                aria-describedby="desc-help">[[=request.forms.get('content', '')]]</textarea>
              <div id="desc-help" class="form-text">Blob, or a more detailed channel information
                in markdown format, html is allowed, but will be sanitized. 
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="channel-img" class="form-label">Channel Banner:</label>
              <input class="form-control" type="file" id="channel-img" name="channel-img" aria-describedby="banner-help">
              <div id="banner-help" class="form-text">Optional Banner, it will use top-left
                part of the image, and 150px height, large images will be declined. This 
                value is optional.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="is-public"
                name="is-public"
                [[if request.forms.get('is-public', '') or request.method == 'GET':]]checked[[pass]]>
              <label class="form-check-label" for="is-public">
                This channel is Public
              </label>
            </div>
          </div>
        </div>

        <div class="my-3">
          <button type="submit" class="btn btn-primary" id="create-button" name="create-button">Create Channel</button>
          <button type="submit" class="btn btn-primary" id="cancel-button" name="cancel-button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
