<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <base href="[[=URL('static')]]/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>zForum, a simple, no-ads Message Board System by rustix.DEV</title>
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
  />
  <!-- Bootstrap -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="[[=URL('static', 'css/zforum.css')]]" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="[[=URL('index')]]">zForum<span class="fs-6">.org</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="[[=URL('index')]]">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="[[=URL('channels')]]"><i class="bi bi-tv"></i> Channels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="[[=URL('index')]]"><i class="bi bi-trophy"></i> Sponsors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="[[=URL('index')]]"><i class="bi bi-clipboard-check"></i> Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="[[=URL('index')]]"><i class="bi bi-file-earmark-person"></i> About</a>
          </li>
        </ul>
        <form class="d-flex input-group w-auto">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </form>
        <div class="dropdown dropstart">
          <a class="nav-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" href="#"
            id="navbarDropdownMenuLink" role="button" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            [[if globals().get('user'):]]
            <li><a class="dropdown-item" disabled>[[=globals().get('user').get('email')]]</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <!-- If system detects user already logged in, allow profile: -->
            <li><a class="dropdown-item" href="[[=URL('zauth/profile')]]">My Profile</a></li>
            [[if 'change_password' in globals().get('actions', {}).get('allowed_actions', {}):]]
            <li><a class="dropdown-item" href="[[=URL('auth/change_password')]]">Change Password</a></li>
            [[pass]]
            [[if globals().get('is_systemadmin', False):]]
            <li><a class="dropdown-item" href="#">System Admin</a></li>
            [[pass]]
            <li><a class="dropdown-item" href="[[=URL('auth/logout')]]">Logout</a></li>
            [[else:]]
            <li><a class="dropdown-item" href="[[=URL('zauth/login')]]">Log In</a></li>
            <li><a class="dropdown-item" href="[[=URL('zauth/register')]]">New Account</a></li>
            [[pass]]
          </ul>
        </div>
      </div>
    </div>
  </nav>

  
  <!-- Main Content Container  -->
  <div class="container-fluid d-flex flex-column">

    <!-- Main header (spanning the entire width) -->
    [[block channel_header]]
    <div class="row zforum-header flex-shrink-0">
      <div class="col zforum-h-150">
          <h3><div class="m-2 p-2">/c/zForum</div></h3>
          [[if 'channel_desc' in globals():]]<p>[[=XML(channel_desc)]]</p>[[pass]]
      </div>
    </div>
    [[end]]

    <!-- "Two-Column" Layout -->
    <div class="row flex-grow-1 vh-100">

      <!-- First "column", main content -->
      <div class="col-sm-9 p-3 h-100 d-flex flex-column bg-dark">
        <!-- Main Content -->
        [[include]]
      </div>
  
      <!--Second Column (Right Nav) - Move it to own block [???] -->
      <div class="col-sm-3 feature p-3 bg-dark m-0 mh-100 d-flex flex-column">
  
        [[block subnav_lead]]
        <!--
        <div class="feature-icon d-inline-flex align-items-start justify-content-start fs-2 mb-3">
          <i class="bi bi-tv"></i>
        </div> //-->
        <h4 class="fs-2 text-body-emphasis">Welcome Human</h4>
        <p>You've reached the main zForum channel, you are free to create your own channel
          or browse through the existing channels and topics. Topics shown on this
          page are those ranked higher by the community, however you may sort by newest
          instead if you wish.
        </p>
        <a href="[[=URL('channels')]]">
          View All Channels
          <i class="bi bi-chevron-right"></i>
        </a>
        [[end]]
  
        <div class="d-grid gap-2 mt-4">
          [[block page_sidebar]]
            [[if globals().get('user'):]]
              <a class="btn btn-primary" href="[[=URL('channel_new')]]" role="button">New Channel</a>
            [[pass]]
          [[end]]
        </div>
  
      </div>
    </div>
  </div>

  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- alt to moment.js -->
  <script src="[[=URL('static', 'js/luxon.min.js')]]"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</body>

</html>